html
{
    box-sizing: border-box; /* Para que se mantengan anchos y altos, independientemente de paddin y margin */
}

*, *:before, *:after
{
    box-sizing: inherit;
}

*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header
{
    padding: 20px 0; /* 20px arriba y abajo, 0 a la izquierda y derecha */
}

div.contenedor
{
    width: 1200px;
    margin: 0 auto;
}

/** Navegacion **/
.navegacion
{
    background-color: #db008d;
}

nav 
{
    width: 1200px;
    margin: 0 auto;
    position: relative; /* Para usar posición absoluta, el padre debe estar en relative */
}

nav ul
{
    list-style: none; /* Quitar los puntitos de la navegación */
}

nav > ul > li /* Seleccionar el primer nivel de ul y primer nivel de li */
{
    float: left;
}

nav ul::after /* Limpiar el float */
{
    content: '';
    display: block;
    clear: both;
}

nav ul li a  /* Enlaces */
{
    display: inline-block;
    width: 200px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding: 20px;
}

nav ul li a:hover
{
    background-color: #00b8e4;
}

/* Segundo nivel de menús */
nav ul ul
{
    position: absolute;
    top: 100%;
    background-color: rgba(0, 184, 228, 0.7);
    display: none;
}

nav ul li:hover > ul
{
    display: block;
}

nav ul li:hover 
{
    background-color: rgba(0, 184, 228, 1);
}
/* FIN NAVEGACIÓN **/

/** Contenido principal **/
div.contenido::after
{
    content: '';
    display: block;
    clear: both;
}

main
{
    width: 70%;
    float: left;
    padding-right: 40px;
}

aside 
{
    margin-top: 30px;
    float: right;
    width: 30%;
}
/** Fin Contenido principal **/

/** Entradas de posts **/
article
{
    margin-top: 30px;
}

h2
{
    color: #00b8e4;
    margin-bottom: 20px;
}

article img
{
    float: left;
    width: 300px;
    margin-right: 30px;
}

article p{
    line-height: 2;
    text-align: justify;
}

.boton
{
    background-color: #00b8e4;
    padding: 10px 30px;
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

/** Fin de entradas de posts **/

/** Sidebar **/
aside ul{
    list-style: none;
}

aside ul li
{
    padding: 10px 0 10px 10px;
}

aside ul li a
{
    color: #00b8e4;
    text-decoration: none;
}

aside ul li:hover a
{
    color: #ffffff;
}

aside ul li:hover
{
    background-color: #00b8e4;
    cursor: pointer;
}
/** Fin sidebar **/

/** Footer - INI **/
footer 
{
    background-color: #db008d;
    padding-top: 40px;
    margin-top: 30px;
}

footer h2{
    color: #ffffff;
}

footer .contenedor::after
{
    content: '';
    display: block;
    clear: both;
}

footer div.sobre-nosotros
{
    float: left;
    width: 30%;
    color: #ffffff;
}

footer div.menu
{
    float: right;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer nav
{
    width: auto;
}

footer nav ul li a
{
    width: auto;
}

p.copyright
{
    padding: 20px 0;
    text-align: center;
    color: #ffffff;
}

div.green-icon
{
	padding: 10px 0 10px 0;
	width: auto;
}

div.green-icon a img.green-tourism
{
    width: 120px;
	display: block;
	margin: 0 auto;
}
/** Footer - FIN **/